<div class="container">
<h1> My Article </h1>
<h2>
<ul>
  <% @articles.each do |article| %>
<li> <%= link_to article.title, article_path(article) %></li>
    <% end %>
</ul>
</h2>

<%= link_to "Add a new article", new_article_path %>
</div>
